/* animations  */
@keyframes barrelRoll {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
        
    }
}

@keyframes jumpScare {
    0% {
        transform: scale(0);
    }
    5%  {filter: brightness(0.1)}
    10% {filter: brightness(1.3)}
    15% {filter: brightness(0.1)}
    20% {filter: brightness(1.3)}
    25% {filter: brightness(0.1)}
    30% {filter: brightness(1.3)}
    35% {filter: brightness(0.1)}
    40% {filter: brightness(1.3)}
    45% {filter: brightness(0.1)}
    50% {filter: brightness(1.3)}
    55% {filter: brightness(0.1)}
    60% {filter: brightness(1.3)}
    65% {filter: brightness(0.1)}
    70% {filter: brightness(1.3)}
    75% {filter: brightness(0.1)}
    80% {filter: brightness(1.3)}
    85% {filter: brightness(0.1)}
    90% {filter: brightness(1.3)}
    95% {filter: brightness(0.1)}
    100% {
        transform: scale(1.05);
    }
}

@keyframes melt {
    0% {
        filter: saturate(3) blur(1px) hue-rotate(25deg) invert(0.2) contrast(9) url(#TE_MELT_SVG);
        /* transform: skew(1deg, 0deg); */
    }
    10% {
        filter: saturate(3231) blur(10px) hue-rotate(66deg) invert(0.15) contrast(3) url(#TE_MELT_SVG);
        /* transform: skew(1deg, 180deg); */
    }
    20% {
        filter: saturate(312) blur(5px) hue-rotate(100deg) invert(1) contrast(99293) url(#TE_MELT_SVG);
        /* transform: skew(3deg, 12deg); */
    }
    30% {
        filter: saturate(3) blur(3px) hue-rotate(150deg) invert(0.3) contrast(3) url(#TE_MELT_SVG);
        transform: skew(3deg, 5deg);
    }
    40% {
        filter: saturate(31) blur(5px) hue-rotate(200deg) invert(0.1) contrast(91) url(#TE_MELT_SVG);
        /* transform: skew(5deg, -30deg); */
    }
    50% {
        filter: saturate(31) blur(0.5px) hue-rotate(231deg) invert(0.1) contrast(2) url(#TE_MELT_SVG);
        transform: skew(2deg, 10deg);
    }
    60% {
        filter: saturate(311) blur(10px) hue-rotate(300deg) invert(0.3) contrast(2391) url(#TE_MELT_SVG);
        /* transform: skew(1deg, 30deg); */
    }
    70% {
        filter: saturate(3161) blur(2px) hue-rotate(350deg) invert(1) contrast(1) url(#TE_MELT_SVG);
        /* transform: skew(-2deg, 100deg); */
    }
    80% {
        filter: saturate(391) blur(1px) hue-rotate(23deg) invert(0.1) contrast(0.2) url(#TE_MELT_SVG);
        /* transform: skew(-3deg, -90deg); */
    }
    90% {
        filter: saturate(3124391) blur(6px) hue-rotate(-123deg) invert(0.3) contrast(2) url(#TE_MELT_SVG);
        /* transform: skew(-4deg, -15deg); */
    }
    100% {
        filter: saturate(383) blur(1.5px) hue-rotate(231deg) invert(0.1) contrast(9391) url(#TE_MELT_SVG);
        transform: skew(1deg, 15deg);
    }
}


/* OTHERS */
[TE_JUMPSCARE] {
    position: absolute;
    z-index: 101010011101010;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

[TE_MELT] {
    transition: 0.4s all;
}