/* 
    CSS
    MyDemonList Extension by Louis-Charles Biron
    Please don't use or credit this code as your own.
*/
:root {
    --no_of: hidden !important;
}
html, body {
    width: 520px;
    height: 480px;
    background-color: #18181a;
    margin: 0px;
    user-select: none;
    overflow: var(--no_of);
    font-family: monospace;
    font-size: 14px;
    color: aliceblue;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#version {
    position: absolute;
    left: 3px;
    top: 1px;
    z-index: 10;
    color: rgb(255 255 255);
    font-size: 10px;
    letter-spacing: 0px;
    opacity: 0.5;
}
#onLine {
    position: absolute;
    right: 3px;
    top: 1px;
    z-index: 10;
    color: rgb(255, 0, 0);
    font-size: 10px;
    letter-spacing: 0.5px;
    opacity: 1;
    cursor: pointer;
}
#onLine:active {
    opacity: 0.2;
}
::selection {background-color: rgb(0 128 128 / 45%);}
*::-webkit-scrollbar {width: 6px;height: 5px;}*::-webkit-scrollbar-track {background: transparent;}*::-webkit-scrollbar-thumb {background: rgba(96, 96, 96, 0.15);border-radius: 5px;}*::-webkit-scrollbar-thumb:hover {background: rgba(98, 98, 98, 0.2);}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}input[type="number"] {-moz-appearance: textfield;}

.header {
    width: 90%;
    height: 14%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-radius: 2px;
    margin-bottom: 1%;
}

#thelist {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: overlay;
}

.level {
    width: 90%;
    padding: 2%;
    background-color: #292b2f;
    border: 2px solid black;
    border-radius: 2px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: relative;
    margin-bottom: 15px;
}

.lvl_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.lvl_ci, .lvl_info {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding-top: 2%;
    border-top: 3px solid black;
    letter-spacing: 1px;
    user-select: text;
}

.lvl_img {
    opacity: 0.5;
    transition: 0.4s all;
    height: 100%;
    width: 100%;
    outline: 2px solid rgb(240 248 255 / 85%);
    border-radius: 2px;
}
.lvl_img:hover, .lvl_img:active, .lvl_img:focus, .lvl_img:focus-visible, .lvl_img:focus-within {
    opacity: 1;
}

.l_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.lvl_img_p {
    width: 96px;
    height: 96px;
}

.l_display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6%;
    margin-left: 5%;
    width: calc(100% - 98px - 5%);
}

.lvl_name {
    font-weight: bold;
    font-size: 1.35em;
}

#l_expand {
    position: absolute;
    bottom: -8px;
    right: -5px;
    width: 10.5%;
    cursor: pointer;
}

#l_expand > svg {
    fill: #c0c9d1;
}

#userdisplay {
    transition: 0.4s all;
}

#goProfile, #close_p {
    cursor: pointer;
}

#username {
    width: 60%;
    height: 20%;
    padding: 2%;
    background-color: #1c1c1d;
    border: none;
    border-bottom: 2px solid aliceblue;
    border-radius: 2px;
    color: aliceblue;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    outline: none;
}



#l_edit {
    position: absolute;
    top: 3px;
    right: -5px;
    width: 8.5%;
    cursor: pointer;
}

#l_edit > svg {
    fill: #44474a !important;
}

#lvl_link {
    margin-top: 4%;
    text-indent: 2%;
    width: 50%;
}

#add_level, #gobt {
    cursor: pointer;
    transition: 0.3s all;
}

.totop {
    transform: rotateZ(180deg);
}

.left_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 2%;
    top: 2%;
    width: 25%;
    align-items: center;
}

.rh {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgb(240 248 255 / 30%);
}

#ex > span {
    margin-top: 1.5%;
}

.link {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgba(240, 248, 255, 0.5);
    cursor: pointer;
    color: aliceblue;
    margin-top: 1.5%;
}

.strongMenu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    z-index: 1010;
}

.edit_values {
    width: 88%;
    height: 72%;
    display: flex;
    flex-direction: column;
    padding: 4% 0%;
    outline: solid black 3px;
    background-color: #141313;
    color: #cbd9e6;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

#edit_close, #s_close, #settings_menu_close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.edit_header {
    font-size: 1.4em;
    letter-spacing: 3px;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgb(240 248 255 / 30%);
}

.edit_values input {
    background-color: #1d1d1d;
    border: none;
    border-bottom: 2px solid #a3b6c6;
    border-radius: 1px;
    outline: none;
    color: #c0d5e6;
    width: 90%;
    height: 59%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#nolvlyet {
    margin-top: 15%;
    font-style: italic;
    letter-spacing: 3px;
    color: #adb2b6;
    font-size: 1.3em;
}

.edit_values input::placeholder {
    letter-spacing: 2px;
    color: #728a9e;
}

.lvl_diff {
    text-transform: capitalize;
}

#edit_del {
    position: absolute;
    bottom: -1px;
    right: -5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

svg {
    fill: #9ea4a9;
    transition: 0.3s all;
}

svg:hover {
    fill: aliceblue;
}

.edit_values label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 10.5%;
    text-indent: 8px;
    white-space: nowrap;
    letter-spacing: 1.5px;
    font-size: 0.9em;
}

.yoyo {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

#e_enjoy {
    text-align: center;
    width: 68%;
    height: 80%;
}

#e_diff, #s_diff {
    background-color: #1d1d1d;
    border: none;
    border-bottom: 2px solid #a3b6c6;
    border-radius: 1px;
    outline: none;
    color: #c0d5e6;
    width: 92.5%;
    height: 60%;
    text-align: center;
    letter-spacing: 2px;
}

#e_date {
    height: 50%;
}

#edit_save, #s_search {
    transition: 0.4s all;
    background-color: #1d1d1d;
    border: 2px solid #505f6a;
    border-radius: 4px;
    outline: none;
    color: #c0d5e6;
    height: 6%;
    width: 25%;
    letter-spacing: 2px;
    cursor: pointer;
}

#edit_save:hover, #s_search:hover {
    background-color: #292828;
    border: 2px solid #677986;
}

.lvl_prog {
    white-space: normal;
}

.level1 {
    text-shadow: 0px 0px 4px gold;
    font-size: 1.11em;
    font-weight: bolder;
}
.level2 {
    text-shadow: 0px 0px 4px #c9c4b5;
    font-size: 1.09em;
    font-weight: bolder;
}
.level3 {
    text-shadow: 0px 0px 4px #d18e19;
    font-size: 1.09em;
    font-weight: bolder;
}
.level4, .level5 {
    font-size: 1.06em;
}
.level6, .level7, .level8, .level9, .level10 {
    font-size: 1.03em;
}

#overview_p, #profile_p {
    transition: 0.4s all;
    width: 100%;
    height: 100%;
    top: 0;
    left: -105%;
    z-index: 10;
    position: absolute;
    cursor: pointer;
    background: linear-gradient(90deg, black, rgb(0 0 0 / 0%));
}

#profile_p {
    z-index: 12;
}

.overview {
    display: flex;
    width: 85%;
    height: 100%;
    z-index: 100;
    background-color: #0c0c0d;
    border-right: 3px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
}

.p_header {
    height: 13%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6em;
    text-decoration: underline;
    text-decoration-color: rgb(240 248 255 / 50%);
    text-underline-offset: 2px;
    border-bottom: 3px solid black;
    box-shadow: 0px 4px 6px 2px rgb(0 0 0 / 80%);
    z-index: 10;
}

.profile {
    display: flex;
    width: 85%;
    height: 100%;
    z-index: 106;
    background-color: #0c0c0d;
    border-right: 3px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
}

#close_p {
    transform: rotate(45deg);
}

#goov {
    position: absolute;
    left: 3.5%;
    top: 2.5%;
    cursor: help;
    z-index: 11;
}

.o_content {
    display: flex;
    flex-direction: column;
    width: 88%;
    padding: 0% 5% 5% 5%;
    height: 90%;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: overlay;
}

.o_content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.o_list {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 79%;
    align-items: flex-start;
    margin-right: 1%;
}

.ols {
    width: 85%;
    font-size: 0.95em;
    padding-right: 4%;
}

.o_list > span {
    text-transform: capitalize;
}

.o_header {
    height: 13%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    text-decoration: underline;
    text-decoration-color: rgb(240 248 255 / 50%);
    text-underline-offset: 2px;
    border-bottom: 3px solid black;
    box-shadow: 0px 4px 6px 2px rgb(0 0 0 / 80%);
    z-index: 10;
}

.o_content > div {
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 2% 0%;
    padding: 4% 0%;
    border: 2px solid #535557;
    border-radius: 3px;
    background-color: #151517;
}

.o_content > span {
    transition: 0.4s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2% 0%;
    padding: 4% 0%;
    border: 2px solid #535557;
    border-radius: 3px;
    background-color: #151517;
    font-weight: bold;
}

.o_content > span:hover, .o_content > div:hover {
    border: 2px solid #b0b6bb;
    border-radius: 6px;
}

.o_content > span > span {
    font-size: 0.95em;
    margin-top: 2%;
    font-weight: normal;
}

.o_label {
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(240 248 255 / 35%);
    text-underline-offset: 2px;
}

.o_list > span {
    margin-top: 3%;
    width: 95%;
}

#o_demons > span, #p_demonsAll > span {
    margin-top: 3%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.lvl_img {
    outline: none;
    opacity: 0.7;
}

.small_icon {
    transition: 0.4s all;
    width: 28px;
    height: 28px;
    opacity: 0.7;
}
.small_icon:hover {
    opacity: 1;
}

#o_demons > span > span, #p_demonsAll > span > span {
    width: 39%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#p_info > div {
    margin-top: 5%;
    width: 75%;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

#p_info span {
    font-weight: normal;
}

#p_info {
    width: 80%;
}

.o_list2 {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.o_label2 {
    margin-bottom: 5%;
}

.edit_values_b {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 90%;
    justify-content: flex-end;
}

.edit_values_id {
    width: 83%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.edit_values_b > div {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#e_id {
    height: 60%;
    width: 72%;
}

.edit_values_id > label {
    height: 75%;
    width: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#searchId {
    cursor: pointer;
    height: 80%;
    width: 55%;
    display: flex;
    padding: 2.5% 4%;
    letter-spacing: 2px;
    color: #cbd9e6;
    background-color: #1d1d1d;
    border: 2px solid #a3b6c6;
    border-radius: 2px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 24%;
    outline: none;
}

.edit_values_hidden {
    position: absolute;
    left: 0.5%;
    top: 91.1%;
    transition: 0.4s all;
}

.edit_values_hidden > input {
    background-color: transparent;
    border: none;
    opacity: .1;
    font-size: 0.7em;
    letter-spacing: 1px;
    margin-top: -2.5%;
}

.edit_values_hidden:hover > input {
    opacity: .5;
}

#errorDiv {
    color: #bb0404;
    font-size: 0.8em;
    position: absolute;
    top: 1%;
    left: 1.6%;
    width: 40%;
    letter-spacing: 1px;
    font-weight: bold;
    transition: 0.4s all;
    opacity: 0;
}

.errorDivAnim {
    animation: errorAnim 2s 0s 1 forwards;
}

@keyframes errorAnim {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.o_filterSelect {
    cursor: pointer;
}

#lvlSearch {
    cursor: pointer;
}

.s_inputs {
    width: 90%;
    height: 20%;
    margin-left: 2%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
}

.s_inputs > label {
    width: 100%;
    height: 9.2%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.s_inputs input {
    width: 40%;
}

.s_options {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 3px solid black;
    margin-left: 1%;
}

#s_resultList {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    overflow: overlay;
    height: 93%;
}

.s_resultsParent {
    width: 90%;
    height: 71%;
    margin-left: 2%;
    margin-right: 1%;
}

.s_filterSettings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    align-items: center;
}

#s_filterWhich {
    text-align: center;
}

#s_filterInput {
    width: 40%;
    height: 80%;
}

.s_resultCountParent {
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 1%;
    letter-spacing: 4px;
    font-size: 1.2em;
    border-radius: 2px;
}

.s_filterSettings > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.s_result {
    margin-bottom: 5px;
    cursor: pointer;
}

@keyframes selectedAnim {
    0% {
        background-color: #292b2f;
    }
    50% {
        background-color: #253d37
    }
    100% {
        background-color: #292b2f;
    }
}

.selectedAnim {
    animation: selectedAnim 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 forwards;
}

#s_filterWhich {
    background-color: #1d1d1d;
    border: none;
    border-bottom: 2px solid #a3b6c6;
    border-radius: 1px;
    outline: none;
    color: #c0d5e6;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#s_filterMode {
    background-color: #1d1d1d;
    border: none;
    border-bottom: 2px solid #a3b6c6;
    border-radius: 1px;
    outline: none;
    color: #c0d5e6;
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.pd_f {
    width: 70% !important;
}

.pd_f > span {
    width: 20%;
    text-align: center;
}

.cube {
    fill:none;
    stroke:#000000;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.cube_p {
    position: relative;
    height: 71%;
    transition: 0.4s;
    opacity: 0.75;
}
.cube_p:hover {
    opacity: 1;
}
.cube_p:active {
    animation: spin 0.6s 1 backwards normal ease-in-out;
}

.cube_p > svg {
    position: absolute;
}

.o_list22 {
    width: 85%;
}

.o_list2_c {
    width: 83% !important;
}

.pd_f_idk {
    width: 29% !important;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

span.thing3 {
    width: 35%;
    text-align: start;
}

span.thing1 {
    width: 40%;
    text-align: end;
}

#settings_p {
    position: absolute;
    left: 17%;
    top: 3.5%;
    cursor: pointer;
    z-index: 11;
}