.MainHeader {
    width: 95%;
    height: 14%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-radius: 2px;
    margin-bottom: 1%;
}

.mh_buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mh_goProfile {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: rgb(240 248 255 / 30%);
}

.mh_openStats {
    position: absolute;
    left: 3.5%;
    top: 2.5%;
    cursor: help;
    z-index: 11;
}

.mh_buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 2%;
    top: 2%;
    width: 25%;
    align-items: center;
}