html, body {
    background-color: black;
    overflow: hidden;
    color: aliceblue;
    margin: 0;
}

#cvs {
    border: 2px solid aliceblue;
}

.c {
    position: absolute;
    z-index: 123123123;
    top: 0;
    width: 100%;
}

* {
    user-select: none;
}

*::-webkit-scrollbar {
    width: 0px;
}

.c > span {
    margin-right: 2%;
}