html, body {
    width: 200px;
    height: 70px;
    background-color: black;
    margin: 0px;
    color: aliceblue;
    user-select: none;
    overflow: hidden;
    font-family: monospace;
}


#ipInput {
    text-align: center;
    outline: none;
}