html, body {
    background-color: black;
    overflow: hidden;
    color: aliceblue;
    margin: 0;
}

#cvs, #cvs2 {
    border: 2px solid aliceblue;
}

.abs {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1010;
}